<!DOCTYPE html>
<html lang="en">

<head>
    <title>astarter</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/scss" href="/css/style.scss" />
    <style type="text/css">
    #full {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
    </style>

</head>

<body>
    <div id="full">
    {{{body}}}<!-- create -->
    {{> footer}}<!-- footer -->
    </div>
</body>

</html>